.wrapper-footer {
  height: 500px;
  .ins-tag {
    width: 100%;
    .ins-tag-item {
      width: 50%;
      float: left;
      .title-ins {
        @extend %title-ins;
        color: map-get($color, white);
      }
      .instagram {
        padding: 60px 0;
        .gram {
          @extend %mr-pd;
          .gram-item {
            display: inline-block;
            padding: 0 40px;
          }
        }
      }
      .follow {
        color: map-get($color, white);
        letter-spacing: 1px;
      }
    }
    .bg {
      @extend %bg-bgf;
      background: url(../images/insgrame/bg_1.jpg) no-repeat;
    }
    .bgf {
      @extend %bg-bgf;
      background: url(../images/insgrame/bg_2.jpg) no-repeat;
      .bg-btn {
        padding: 110px 0;
        .btn-find {
          @extend %none;
          @include transition (all 0.5s ease-in-out);
          letter-spacing: 3px;
          padding: 20px 70px;
          text-transform: uppercase;
          background: map-get($color, white);
          &:hover {
            background: map-get($color, black);
            color: map-get($color, white);
          }
        }
      }
    }
  }
}
.wrap-blue {
  background: map-get($color, black-3);
  height: 400px;
  .blues {
    width: 100%;
    .blue-item {
      float: left;
      width: 25%;
      .title-blue {
        color: map-get($color, white);
        margin-bottom: 34px;
      }
      .title-blues {
        color: map-get($color, white);
        margin-bottom: 15px;
      }
      .lorem {
        color: map-get($color, gray-3);
      }
      .title-ins {
        @extend %title-ins;
        color: map-get($color, orange);
        margin-top: 10px;
      }
      .list-blue {
        @extend %mr-pd;
        position: relative;
        .list-blue-item {
          color: map-get($color, gray-3);
          margin-bottom: 10px;
          &:before {
            @extend %list-item-be-af;
            top: -9px;
          }
          &:after {
            @extend %list-item-be-af;
            left: 0;
          }
        }
      }
      .list-blues {
        @extend %mr-pd;
        .list-blues-item {
          padding: 6px 0;
          .a-item {
            @include transition (all 0.5s ease-in-out);
            color: map-get($color, gray-3);
            text-decoration: none;
            &:hover {
              color: map-get($color, orange);
            }
          }
        }
      }
      .social_block {
        margin: 20px 0;
        .social {
          @extend %mr-pd;
          .social-item {
            display: inline-block;
            padding-right: 5px;
            .fs {
              @include border-radius(100%);
              height: 30px;
              width: 30px;
              line-height: 30px;
              background: map-get($color, gray-3);
              &:hover {
               background: map-get($color, white);
               color: map-get($color, gray-3);
              }
            }
          }
        }
      }
    }
  }
}
.wrap-copy {
  padding: 50px 0;
  background: map-get($color, black);
  .copy-left {
   float: left;
   color: map-get($color, gray-3);
   letter-spacing: 1px;
   .link-bl {
    color: map-get($color, orange);
    text-decoration: none;
   }
  }
  .copy-right {
    float: right;
  }
}
.back-top {
  position: fixed;
  bottom: 10px;
  right: 30px;
  .top-bottom {
    @include border-radius(50%);
    position: relative;
    opacity: 1;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid map-get($color, gray-5);
    font-size: 0;
    &:before {
      position: absolute;
      width: 100%;
      top: 0px;
      right: 0px;
      font-family: "FontAwesome";
      content: "\f106";
      color: map-get($color, gray-5);
      line-height: 40px;
      font-size: 15px;
    }
  }
}
