.wrapper-header {
  padding: 20px 0 15px;
  .logo {
    float: left;
  }
  .main-menu {
    float: left;
    margin-left: 100px;
    .menu {
      margin: 0;
      padding: 0;
      .menu-item {
        list-style: none;
        display: inline-block;
        .link-a {
          text-decoration: none;
          padding: 14px 25px;
          color: map-get($color, black);
          .caret {
            &:before {
              content: "\f103";
              font-family: "FontAwesome";
              top: 15px;
              color: map-get($color, gray);
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  .search {
    float: right;
    .search-icon {
      padding: 0 10px;
    }
  }
}
.slide {
  background: url(../images/slide/1.jpg);
  height: 800px;
  .page-width {
    display: block;
    text-align: center;
    .mega-title {
      color: map-get($color, white);
      padding: 122px 0 56px;
      font-size: 40px;
    }
    .mega-subtitle {
      color: map-get($color, white);
      padding: 0px 0 64px;
      font-size: 80px;
    }
    .mega-sub {
      padding: 15px 55px;
      border: 1px solid map-get($color, white);
      color: map-get($color, white);
      background: transparent;
      &:hover {
        background: map-get($color, white);
        color: map-get($color, black);
      }
    }
  }
}
