.wrapper-header {
  padding: 20px 0 15px;
  .logo {
    float: left;
  }
  .main-menu {
    float: left;
    margin-left: 100px;
    .menu {
      @extend %mr-pd;
      .menu-item {
        list-style: none;
        display: inline-block;
        .link-a {
          text-decoration: none;
          padding: 14px 25px;
          color: map-get($color, black);
          .caret {
            &:before {
              content: "\f103";
              font-family: "FontAwesome";
              top: 15px;
              color: map-get($color, gray);
              margin-left: 5px;
            }
          }
          &:hover {
            color: map-get($color, orange);
          }
        }
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
     .sub-menu {
        @extend %sub-menu;
        .sub-menu-item {
          .sub-a {
            color: map-get($color, gray-4);
            padding: 0 12px;
            text-decoration: none;
            display: block;
            cursor: pointer;
            font-size: 14px;
            &:hover {
              color: map-get($color, orange);
            }
          }
        }
      }
    }
   .dropdown {
      &:hover {
        .sub-menu {
          display: block;
        }
      }
    }
  }
  .search {
    float: right;
    .search-icon {
      padding: 0 10px;
      color: map-get($color, black);
    }
    .cart-a {
      position: relative;
      .cartcount {
        position: absolute;
        top: -4px;
        right: -3px;
        font-size: 10px;
        color: map-get($color, orange);
        &:before {
          content: "(";
        }
        &:after {
          content: ")";
        }
      }
    }
  }
}
.slide {
  background: url(../images/slide/1.jpg);
  height: 800px;
  .page-width {
    display: block;
    .mega-title {
      color: map-get($color, white);
      padding: 122px 0 56px;
      font-size: 40px;
    }
    .mega-subtitle {
      color: map-get($color, white);
      padding: 0px 0 64px;
      font-size: 80px;
    }
    .mega-sub {
      padding: 15px 55px;
      border: 1px solid map-get($color, white);
      color: map-get($color, white);
      background: transparent;
      transition: all 0.5s linear;
      cursor: pointer;
      &:hover {
        background: map-get($color, white);
        color: map-get($color, black);
      }
    }
  }
}
