.vnavhead {
  background: map-get($color, orange);
  height: 36px;
  .visit {
    color: map-get($color, white);
    padding: 10px 0;
    float: left;
    .visit-text {
      padding-left: 360px;
      .here {
        color: map-get($color, black);
      }
    }
  }
  .flext {
    float: right;
    .flex-prev {
      color: map-get($color, white);
    }
  }
}
.wrapper-header {
  padding: 20px 0 15px;
  .logo {
    float: left;
  }
  .main-menu {
    float: left;
    margin-left: 100px;
    .menu {
      @extend %mr-pd;
      .menu-item {
        display: inline-block;
        .link-a {
          text-decoration: none;
          padding: 14px 25px;
          color: map-get($color, black);
          .caret {
            &:before {
              content: "\f103";
              font-family: "FontAwesome";
              top: 15px;
              color: map-get($color, gray);
              margin-left: 5px;
            }
          }
          &:hover {
            color: map-get($color, orange);
          }
        }
        &:hover {
          .sub-menu {
            display: block;
          }
        }
      }
     .sub-menu {
        @extend %sub-menu;
        .sub-menu-item {
          .sub-a {
            color: map-get($color, gray-4);
            padding: 0 12px;
            text-decoration: none;
            cursor: pointer;
            &:hover {
              color: map-get($color, orange);
            }
          }
        }
      }
    }
   .dropdown {
      &:hover {
        .sub-menu {
          display: block;
        }
      }
    }
  }
  .search {
    float: right;
    .cards-menu {
      @extend %mr-pd;
      .cards-menu-item {
        display: inline-block;
        padding-right: 20px;
        .search-icon {
          color: map-get($color, black);
          text-decoration: none;
        }
        .card-hover {
          width: 300px;
          background: map-get($color, white);
          padding: 10px 15px;
          display: none;
          position: absolute;
          z-index: 100;
          right: 350px;
          .cards {
            border-bottom: 1px solid map-get($color, black);
            padding: 10px;
            .cart-item {
              float: left;
              width: 50%;
              .img-cart {
                width: 35%;
                height: auto;
              }
            }
          }
          .cart-total {
            padding: 15px 0;
            text-align: left;
            font-weight: 700;
            .money {
              float: right;
            }
          }
        }
        .cart_checkout {
          margin: 8px 15px 8px;
          min-width: 24px;
          padding: 10px 0;
          text-transform: uppercase;
          background: map-get($color, orange);
          .view-cart {
            text-align: center;
            display: block;
            text-decoration: none;
            color: map-get($color, white);
          }
        }
        &:hover {
          .card-hover {
            display: block;
          }
        }
      }
    }
  }
}
.slide {
  background: url(../images/slide/1.jpg);
  height: 800px;
  .page-width {
    display: block;
    .mega-title {
      color: map-get($color, white);
      padding: 122px 0 56px;
    }
    .mega-subtitle {
      color: map-get($color, white);
      padding: 0 0 64px;
    }
    .mega-sub {
      @include transition(all 0.5s ease-in-out);
      padding: 15px 55px;
      border: 1px solid map-get($color, white);
      color: map-get($color, white);
      background: transparent;
      cursor: pointer;
      &:hover {
        background: map-get($color, white);
        color: map-get($color, black);
      }
    }
  }
}
