* {
  margin: 0;
  padding: 0;
}
// h1, h2, h3, h4, h5, h6 {
//   font-family: 'Roboto', sans-serif;
//   line-height: 1.42857;
//   color: map-get($color, black);
//   background-color: map-get($color, white);
// }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.42857;
  color: map-get($color, black);
  background-color: map-get($color, white);
}
.clearfix {
  clear: both;
}
