%penel-content {
  height: 185px;
  background-size: cover;
  margin-bottom: 85px;
  .panel {
    padding: 60px 0;
    .panel-title-name {
      font-size: 30px;
      font-family: 'Playfair Display', serif;
      color: map-get($color, white);
    }
   .panel-title-author {
      color: map-get($color, white);
   }
  }
}
%title-ins {
  letter-spacing: 5px;
  text-transform: uppercase;
  .span {
    border-bottom: 2px dotted;
    padding-bottom: 5px;
  }
}
