$color:  (
  black: #000000,
  black-2: #444444,
  black-3: #222222,
  black-4: #030303,
  black-5: #f37351,
  gray: #adadad,
  gray-2: #a0a0a0,
  gray-3: #999999,
  gray-4: #f1f1f1,
  gray-5: #f0efef,
  gray-6: #f9f9f9,
  orange: #f37252,
  white: #ffffff
);
