$color:  (
  white: #ffffff,
  black: #000000,
  black_2: #444444,
  black_3: #222222,
  black_4: #030303,
  black_5: #f37351,
  gray: #adadad,
  gray_2: #a0a0a0,
  gray_3: #999999,
  gray_4: #f1f1f1,
  gray_5: #f0efef,
  gray_6: #f9f9f9,
  orange: #f37252
);
