.freeship {
  .gellery {
    width: 100%;
    padding: 30px 0 30px;
    .gellery-item {
      float: left;
      &.gellery-2 {
        margin-left: 200px;
      }
      .blockletter {
        .blockter {
          display: inline-block;
          padding: 0 10px;
          .title-block {
            padding: 0 0 5px 0;
            letter-spacing: 1px;
            color: map-get($color, black);
          }
          .over {
            color: map-get($color, gray-2);
          }
        }
      }
      .page-subheading {
        color: map-get($color, black);
      }
      .input {
        @extend %none;
        width: 260px;
        padding: 6px 20px;
        height: 35px;
        margin-left: 10px;
        color: map-get($color, gray-3);
        background: map-get($color, gray-4);
      }
      .subscribe {
        @extend %none;
        width: 128px;
        padding: 6px 20px;
        height: 47px;
        background: map-get($color, gray-4);
        color: map-get($color, black);
        margin-left: -5px;
        line-height: 34px;
        font-weight: 700;
        cursor: pointer;
        &:hover {
          color: map-get($color, orange);
          background: map-get($color, gray-5);
        }
      }
    }
  }
}
.gellary {
  width: 100%;
  .gellary-item {
    float: left;
    width: calc(100% / 3);
    .banner-img {
      width: 100%;
      height: auto;
    }
  }
  .skist-list {
    position: relative;
    .media-body {
      position: absolute;
      top: 0;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 99%;
      display: none;
      .article-title {
        position: relative;
        top: 35%;
        .a-enim {
          text-decoration: none;
          line-height: 30px;
          color: map-get($color, white);
          letter-spacing: 2px;
        }
      }
      .time-s {
        position: absolute;
        top: 46%;
        left: 26%;
        .time {
          color: map-get($color, white);
          letter-spacing: 2px;
        }
      }
    }
    &:hover {
     .media-body {
        display: block;
      }
    }
  }
}
.features {
  padding-top: 100px;
  cursor: pointer;
  .title-features {
    font-size: 20px;
    color: map-get($color, black);
    .span {
     @extend %span;
    }
  }
}
.features2 {
  display: block;
  .title-title2 {
    font-size: 20px;
    color: map-get($color, black);
    margin-bottom: 30px;
    .span {
      @extend %span;
    }
  }
}
.paginations {
  display: block;
  padding: 50px 0 90px;
  .pagi {
    @extend %mr-pd;
    .pagi-item {
      display: inline-block;
      padding: 5px;
      width: 12px;
      height: 12px;
      .btn-pagi {
        @include border-radius(100%);
        background-color: transparent;
        background: map-get($color, gray);
        width: 15px;
        height: 15px;
        border: none;
        &:hover {
          background: map-get($color, orange);
        }
      }
      .active {
        background: map-get($color, orange);
      }
    }
  }
}
.panel-content {
  height: 185px;
  background-size: cover;
  margin-bottom: 81px;
  background: url(../images/background/1.jpg) no-repeat;
  &.panel-content-1 {
    background: url(../images/background/2.jpg) no-repeat;
  }
  &.panel-content-2 {
    background: url(../images/background/3.jpg) no-repeat;
  }
  &.panel-content-3 {
    background: url(../images/background/4.jpg) no-repeat;
  }
  .panel {
    padding: 62px 0;
    .panel-title-name {
      color: map-get($color, white);
    }
    .panel-title-author {
      color: map-get($color, white);
    }
  }
}
.mums {
  width: 100%;
  padding-top: 50px;
  .mum-item {
    float: left;
    width: 272px;
    margin-right: 30px !important;
    &:hover {
      @extend %hover-images;
    }
    &:nth-child(4) {
      margin-right: 0 !important;
    }
  }
  .img-mum {
    width: 100%;
    height: auto;
  }
  .poducts-images {
    position: relative;
    border: 0;
    margin: 0;
    cursor: pointer;
    .product-meta {
      @include transition (all 0.5s ease-in-out);
      position: absolute;
      width: 93%;
      height: 94%;
      border: 10px solid map-get($color, gray-6);
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.85);
      display: none;
      .grid-title {
        @extend %mr-pd;
        height: 40px;
        position: relative;
        top: 35%;
        .product-name {
          color: map-get($color, black);
          font-weight: 700;
          text-decoration: none;
          line-height: 20px;
          letter-spacing: 1px;
        }
      }
      .content_price {
        margin: 5px 0;
        position: relative;
        top: 35%;
        .price {
          color:  map-get($color, orange);
          font-weight: 300;
        }
      }
      .cart {
        position: relative;
        top: 40%;
        .span2 {
          border-bottom: 2px dotted;
          padding-bottom: 5px;
        }
      }
    }
    .funtions-hover {
      position: absolute;
      display: none;
      z-index: 9;
      right: 10px;
      bottom: 10px;
      .hover-list {
        @extend %mr-pd;
        .hover-list-item {
          display: inline-block;
          .view {
            border: 1px solid map-get($color, black);
            font-weight: 700;
            color: map-get($color, white);
            background: map-get($color, black);
            line-height: 40px;
            opacity: 1;
            padding: 10px;
            &:hover {
              @include transition (all 0.5s ease-in-out);
              background-color: map-get($color, black-5);
              border: 1px solid map-get($color, black-5);
              color: map-get($color, white);
            }
          }
        }
      }
    }
  }
}
